.topWrap{
  position: absolute;
  top:0;
  z-index: 10;
  min-width: 1180px;
  width:100%;
  height:90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;

  .topMenu{
    width:100%;
  }
  .logo{
    position: absolute;
    top:15px;
    left:40px;
    width:86px;
    height: 54px;
    background:url(../img/img_logo.png);
    text-indent:-9999px;
  }
  .menu{
    display:flex;
    width:609px;
    margin:0 auto;
    justify-content: space-between;
    line-height: 90px;
    li:hover{
      border-bottom: 4px solid orange;
      &{
        height:87px;
      }
      a{
        color:orange;
      }
    }
  }
  a{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
  }
  .rightMenu{
    position: absolute;
    right:10px;
    top:30px;
    width:242px;
    button{
      background:transparent;
      color:#fff;
      width:50px;
      height:50px;
      font-size: 15px;
      transform: translateY(-10px);
      font-weight: bold;
    }
    ul{
      display:flex;
      width:100%;
      justify-content: space-between;
      a{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
.topWrap.on{
  background:#fff;
  .menu{
    a{
      color:#222;
    }
  }
  .rightMenu{
    a{
      color:#999;
    }
    button{
      color:#222;
      border-color:#222;
    }
  }
}
//메뉴박스영역
.menubox{
  height:500px;
  background:#fff;
  position: absolute;
  top:90px;
  left: 0;
  right: 0;
  z-index: 50;
  display:none;
  border-top: 1px solid rgb(230, 230, 230);
}
.blank{
  width:280px;
  height:500px;
  border-right: 1px solid rgb(230, 230, 230)
}
.menubox-wrap{
  display:flex;
}
.listbox{
  padding: 35px 0 0 70px;
  .searchbox{
    background:rgb(235, 235, 235);
    border-radius: 4px;
    position: static;
    transform: unset;
    margin-top: 80px;
  }
}
.list{
  width:800px;
  li{
    width:190px;
    display:inline-block;
    margin-bottom: 40px;
  }
  a{
    font-size: 18px;
    color:#222;
    font-weight: 500;
    &:hover{
      color:orange;
      text-decoration: underline;
    }
  }
}