.topWrap{
  position: absolute;
  top:0;
  z-index: 10;
  min-width: 1180px;
  width:100%;
  height:90px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.5s;

  .topMenu{
    width:100%;
  }
  .logo{
    position: absolute;
    top:15px;
    left:40px;
    width:86px;
    height: 54px;
    background:url(../img/img_logo.png);
    text-indent:-9999px;
  }
  .menu{
    display:flex;
    width:609px;
    margin:0 auto;
    justify-content: space-between;
    line-height: 90px;
    li:hover{
      border-bottom: 4px solid orange;
      &{
        height:87px;
      }
      a{
        color:orange;
      }
    }
  }
  a{
    color:#fff;
    font-size: 20px;
    font-weight: 500;
  }
  .rightMenu{
    position: absolute;
    right:10px;
    top:30px;
    width:242px;
    button{
      background:transparent;
      color:#fff;
      width:50px;
      height:50px;
      font-size: 15px;
      transform: translateY(-10px);
      font-weight: bold;
    }
    ul{
      display:flex;
      width:100%;
      justify-content: space-between;
      a{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}
.topWrap.on{
  background:#fff;
  .menu{
    a{
      color:#222;
    }
  }
  .rightMenu{
    a{
      color:#999;
    }
    button{
      color:#222;
      border-color:#222;
    }
  }
}
//메뉴박스영역
.menubox{
  height:500px;
  background:#fff;
  position: absolute;
  top:90px;
  left: 0;
  right: 0;
  z-index: 50;
  display:none;
  border-top: 1px solid rgb(230, 230, 230);
}
.blank{
  width:280px;
  height:500px;
  border-right: 1px solid rgb(230, 230, 230)
}
.menubox-wrap{
  display:flex;
}
.listbox{
  padding: 35px 0 0 70px;
  position: relative;
  height:100%;
  .searchbox{
    background:rgb(235, 235, 235);
    border-radius: 4px;
    transform: unset;
    position: absolute;
    left:70px;
    top:320px;
    input{
      background:transparent;
      &::placeholder{
        color:rgb(111, 111, 111);
        font-weight: 300;
      }
    }
    button{
      background:transparent url(../img/btn_headerSearch.png) no-repeat;
    }
  }
  .introduce{
    display:none;
  }
}
.list{
  width:800px;
  & > li{
    width:190px;
    display:inline-block;
    margin-bottom: 40px;
    position: relative;
  }
  a{
    font-size: 18px;
    color:#222;
    font-weight: 500;
    &:hover{
      color:orange;
      text-decoration: underline;
    }
  }
}
.depth1{
  position: absolute;
  top:50px;
  li{
    margin-bottom: 6px;
  }
  li:first-child:before{
    content:'';
    display:block;
    width:15px;
    height:10px;
    border-top: 1px solid #999;
    position: absolute;
    top:-12px;
  }
  a{
    font-size: 16px;
    color:#999;
    font-weight: 400;
  }
}
.branch-search{
  display:none;
 .searchtit{
  span:before{
    background-image: url(../img/ico_headerPlace.png);
  }
 } 
}
.parsel-search{
  display:none;
}
.search-select{
  position: absolute;
  right:0;
  top:45px;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:url(../img/ico_select.png) no-repeat;
  border-radius: 0;
  border:none;
  text-indent:-9999px;
  width:20px;
  height:10px;
}
.search-select::-ms-expand{
  display:none;
}

.customer-support{
  .searchtit{
    span:before{
      background-image: url(../img/ico_headerCustomer.png);
    }
   }
  .info{
    font-size: 16px;
    color:#666;
    width:500px;
    height:100px;
    position: relative;
    p{
      position: absolute;
      left:260px;
      top:38px;
    }
    strong{
      font-size: 42px;
      color:#ffa200;
      position: absolute;
      top:15px;
      left:30px;
    }
  }
}