@charset "utf-8";
.swiper-container{
  width:100%;
  height:1080px;
  .swiper-wrapper{
    .swiper-slide{
      background-position: center 0;
      img{
        position: absolute;
        left:50%;
        top:300px;
        transform: translateX(-50%);
      }
    }
    .bg1{
      background-image: url('../img/bg1.jpg');
    }
    .bg2{
      background-image: url('../img/bg2.jpg');
    }
    .bg3{
      background-image: url('../img/bg3.jpg');
    }
  }
  .swiper-pagination-bullet{
    background-color: #eee;
    width:10px;
    height:10px;
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin:0 6px;
}