@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
}
.swiper-container{
  min-width: 1180px;
  width:100%;
  height:1080px;
  .swiper-wrapper{
    .swiper-slide{
      background-position: center 0;
      img{
        position: absolute;
        left:50%;
        top:300px;
        transform: translateX(-50%);
      }
      .bgtext{
        font-size: 70px;
        color:#fff;
        font-weight: 100;
        text-align: center;
        line-height: 90px;
        position: absolute;
        left:50%;
        top:590px;
        transform: translateX(-50%);
      }
    }
    .bg1{
      background-image: url('../img/bg1.jpg');
      .bgtext{
        width:800px;
      }
    }
    .bg2{
      background-image: url('../img/bg2.jpg');
    }
    .bg3{
      background-image: url('../img/bg3.jpg');
    }
  }
  .swiper-pagination-bullet{
    background-color: #eee;
    width:10px;
    height:10px;
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin:0 6px;
  margin-bottom: 200px;
}
.searchbox{
  position: absolute;
  top:150px;
  z-index: 20;
  background:#fff;
  width:800px;
  height:100px;
  margin:0 auto;
  border-radius: 50px;
  left:50%;
  transform:translateX(-50%);
  div{
    float: left;
  }
  .searchtit{
    width:240px;
    height: 100%;
    position: relative;
    span{
      display:block;
      font-size: 24px;
      font-weight: bold;
      height:35px;
      text-align: right;
      border-right: 1px solid #ccc;
      position: absolute;
      top:50%;
      right:0;
      transform: translateY(-50%);
      padding-bottom: 3px;
      padding-right: 30px;
      &:before{
        content:'';
        display:block;
        width:40px;
        height:40px;
        background-image: url(../img/ico_headerSearch_01.png);
        background-repeat: no-repeat;
        position: absolute;
        left:-60px;
      }
    }
  }
  .inputarea{
    width:490px;
    height:100%;
    position: relative;
    input{
      width:450px;
      border:none;
      height:40px;
      font-size: 20px;
      font-weight: 400;
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      text-align: center;
      outline: transparent;
      &::placeholder{
        color:#222;
      }
    }
    
    button{
      width:40px;
      height:40px;
      border:none;
      background-image: url(../img/btn_headerSearch.png);
      background-repeat: no-repeat;
      position: absolute;
      right:0;
      top:50%;
      transform: translateY(-17px);
      cursor: pointer;
      outline: transparent;
    }
  }
}
/* 인풋 화살표 없애기 */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 화살표 없애기 끝 */
.mainbg{
  position: relative;
}
/* 메인슬라이드 오토플레이 버튼 */
.autoplay-control{
  width:36px;
  height:36px;
  position: absolute;
  top:842px;
  left:50%;
  z-index: 10;
  transform: translateX(40px);
  border:none;
  background-color:transparent;
  background-image: url(../img/ico_slide_stop.png);
  cursor: pointer;
  outline:transparent;
}
.autoplay-control.on{
  background-image: url(../img/ico_slide_play.png);
}
/* 퀵서비스 영역 */
.quickservice{
  height:150px;
  width:100%;
  background-image:url(../img/bg_quickmenu.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  margin-top: -150px;
  position: absolute;
  z-index: 10;
  .quick-wrap{
    width:1200px;
    height:100%;
    margin:0 auto;
  }
  .quick-tit{
    width:220px;
    height:100%;
    display:table;
    float: left;
    span{
      color:#694f1c;
      font-size: 24px;
      text-align: right;
      display:table-cell;
      vertical-align: middle;
      font-weight: bold;
      padding-right: 30px;
    }
  }
  .quick-icon-list{
    width:calc(100% - 220px);
    height: 100%;
    display:flex;
    float: left;
    background:#ffbb45;
    li{
      width:140px;
      height:100%;
      a{
        display:block;
        width:100%;
        height:130px;
        margin-top: 8px;
        border-radius: 30px;
        background-repeat:no-repeat;
        background-position: center 25px;
        span{
          color:#61553e;
          text-align: center;
          display:block;
          padding-top: 90px;
        }
        &:hover{
          background:#61553e;
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.33);
          span{
            color:#fff;
          }
        }
      }
    }
    .shipping{
      a{
        background-image: url(../img/ico_quickMenu_01.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_01_on.png);
        }
      }
    }
    .link{
      a{
        background-image: url(../img/ico_quickMenu_02.png);
        span{
          padding-top: 85px;
          line-height: 20px;
        }
        &:hover{
          background-image: url(../img/ico_quickMenu_02_on.png);
        }
      }
    }
    .reservation{
      a{
        background-image: url(../img/ico_quickMenu_03.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_03_on.png);
        }
      }
    }
    .return{
      a{
        background-image: url(../img/ico_quickMenu_04.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_04_on.png);
        }
      }
    }
    .quick{
      a{
        background-image: url(../img/ico_quickMenu_05.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_05_on.png);
        }
      }
    }
    .business{
      a{
        background-image: url(../img/ico_quickMenu_06.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_06_on.png);
        }
      }
    }
    .remote{
      a{
        background-image: url(../img/ico_quickMenu_07.png);
        &:hover{
          background-image: url(../img/ico_quickMenu_07_on.png);
        }
      }
    }
    li:hover{
      a{
        background-repeat: no-repeat;
        background-position: center 25px;
      }
    }
  }
}
//1위 영역
.firstprize{
  height:1077px;
  background-image: url(../img/bg_mainBg_con01.jpg);
  background-size: cover;
  background-position: right 0;
  width:100%;
  .firstprize-wrap{
    width:1204px;
    margin:0 auto;
    p{
      text-align: center;
      padding-top: 140px;
      color:#aaa;
      font-size: 18px;
    }
    .firstprize-tit{
      text-align: center;
      font-size: 48px;
      font-weight: 300;
      margin-bottom: 90px;
      span{
        font-weight: 600;
      }
    }
    ul{
      display:flex;
      width:100%;
      li{
        justify-content: space-between;
        width:400px;
        text-align: center;
        h3{
          font-size: 28px;
          font-weight: 100;
          span{
            font-weight: 600;
          }
        }
      }
    }
  }
}
//택배 서비스 안내 영역
.parcel-service{
  margin-top: 100px;
  .parcel-wrap{
    width:1204px;
    margin:0 auto;
    ul{
      &:after{
        content:'';
        display:block;
        clear: both;
      }
      li{
        float: left;
        width:300px;
        height:400px;
        background-repeat: no-repeat;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        box-sizing: border-box;
        background-size: cover;
        a{
          width:100%;
          height:100%;
          display:block;
          span{
            font-size: 30px;
            font-weight: 500;
            display:block;
            text-align: center;
            padding-top: 240px;
          }
        }
      }
      .parcel-info{
        width:600px;
        height:400px;
        background-image: url(../img/img_mainCon02.png);
        background-repeat: no-repeat;
        background-position: 300px 205px;
        border:0;
        background-size: auto;
        h2{
          font-size: 48px;
          font-weight: 500;
          margin-bottom: 20px;
          padding-top: 50px;
        }
        p{
          font-size: 18px;
          color:#666;
          font-weight: 300;
        }
      }
      .parcel-charge{
        background-image:url(../img/img_con2bg_01.jpg);
      }
      .parcel-branch{
        background-image: url(../img/img_con2bg_02.jpg);
        border-right:1px solid #ccc;
        span{
          padding-top: 65px;
        }
      }
      .parcel-packing{
        background-image: url(../img/img_con2bg_03.jpg);
        border-bottom: 1px solid #ccc;
        span{
          padding-top: 65px;
        }
      }
      .parcel-reception{
        background-image: url(../img/img_con2bg_04.jpg);
        border-bottom: 1px solid #ccc;
      }
      .parcel-accident{
        background-image: url(../img/img_con2bg_05.jpg);
        border-bottom: 1px solid #ccc;
        span{
          padding-top: 65px;
        }
      }
      .parcel-receipt{
        background-image: url(../img/img_con2bg_06.jpg);
        border-right:1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
//랩 컨테이너 정의
.wrap{
  width:1204px;
  margin:0 auto;
}
//공지사항 영역
.notice-area{
  margin-top: 150px;
  height:420px;
  background-image: url(../img/bg_mainBg_con03.jpg);
  .notice-group{
    width:844px;
    padding-top: 120px;
  }
  .notice-titbox{
    width:300px;
  }
  .notice-tit{
    font-size: 40px;
    color:#222;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .notice-explain{
    margin-bottom: 40px;
    font-size: 18px;
    color:#666;
    font-weight: 300;
  }
  .notice-more{
    width:163px;
    height:24px;
    display:block;
    color:#666;
    font-weight: 500;
    background-image:url(../img/ico_mainCon03_link.png);
    background-repeat: no-repeat;
    background-position: right 0;
  }
}