@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
}
.swiper-container{
  min-width: 1180px;
  width:100%;
  height:1080px;
  .swiper-wrapper{
    .swiper-slide{
      background-position: center 0;
      img{
        position: absolute;
        left:50%;
        top:300px;
        transform: translateX(-50%);
      }
      .bgtext{
        font-size: 70px;
        color:#fff;
        font-weight: 100;
        text-align: center;
        line-height: 90px;
        position: absolute;
        left:50%;
        top:500px;
        transform: translateX(-50%);
      }
    }
    .bg1{
      background-image: url('../img/bg1.jpg');
      .bgtext{
        width:800px;
      }
    }
    .bg2{
      background-image: url('../img/bg2.jpg');
    }
    .bg3{
      background-image: url('../img/bg3.jpg');
    }
  }
  .swiper-pagination-bullet{
    background-color: #eee;
    width:10px;
    height:10px;
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin:0 6px;
}